
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>

    <div>
        Name:@ViewBag.EmployeeDetails.Name
    </div>
    <div>
        Email:@ViewBag.EmployeeDetails.Email
    </div>
    <div>
        Department:@ViewBag.EmployeeDetails.Department
    </div>
</body>
</html>
