
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>@ViewData["PageTitle"]</h3>

    @{

        var employee = ViewData["EmployeeDetails"] as DemoApp.Models.Employee;
    }

    <div>
        Name:@employee.Name;
    </div>
    <div>
        Email:@employee.Email;
    </div>
    <div>
        Department:@employee.Department;
    </div>
</body>
</html>
